/* Webkit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  border-radius: 50%;
  width: 20px !important;
  height: 20px !important;
  cursor: pointer;
  background: #4CAF50; /* Color del thumb */
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px !important;
  border-radius: 5px;
  background: #2f6779; /* Color del track */
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  cursor: pointer;
  background: #4CAF50; /* Color del thumb */
}

input[type="range"]::-moz-range-track {
  height: 10px !important;
  border-radius: 5px;
  background: #2f6779; /* Color del track */
}

/* Internet Explorer */
input[type="range"]::-ms-thumb {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  cursor: pointer;
  background: #4CAF50; /* Color del thumb */
}

input[type="range"]::-ms-track {
  height: 10px !important;
  border-radius: 5px;
  background: #2f6779; /* Color del track */
  border: none;
  color: transparent;
}

/* Edge */
input[type="range"]::-ms-fill-lower {
  background: #2f6779; /* Color del track */
  border-radius: 5px;
}

input[type="range"]::-ms-fill-upper {
  background: #2f6779; /* Color del track */
  border-radius: 5px;
}

.range-field {
  border-radius: 40px;
}
.max-width-90p {
  max-width: 90%;
}
.slider-content {
  display: flex;
  float: right;
  width: 100%;
  span {
    font-size: small;
    position: absolute;
    right: 0;
    float: right;
  }
}
.input-default {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
.input-50px {
  width: 100%;
  max-width: 50px;
  border-radius: 25%;
}
.max-height-500 {
  max-height: 280px !important;
  overflow-y: auto;
  overflow-x: hidden;
}
#keyboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
}

.key {
  background-color: #1a1a1a;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.key:hover {
  background-color: #5c5c5c;
  border: solid 2px, #999;
}

/* Alerta de mensajes */
.alert-container {
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 1000;
}

.alert {
  padding: 15px 25px;
  border-radius: 4px;
  margin-bottom: 10px;
  opacity: 0.9;
  color: white;
  font-weight: 600;
}

.alert-success {
  background-color: #4CAF50;
}

.alert-info {
  background-color: #607D8B;
}

.alert-warning {
  background-color: #FFCA28;
}

.alert-error {
  background-color: #f44336;
}
.cssportal-grid {
	display: grid;
	grid-template-rows: repeat(6, auto);
	grid-template-columns: repeat(6, auto);
	gap: 0;
	width: 100%;
  box-sizing: content-box;
}
.grid842 {
  min-width: 100px;
	grid-area: 1 / 1 / 5 / 4;
	background-color: rgba(94, 120, 9, 0);
}
.grid826 {
	grid-area: 1 / 4 / 5 / 7;
	background-color: rgba(6, 101, 31, 0);
}
.grid846 {
	grid-area: 3 / 3 / 5 / 7;
	background-color: rgba(76, 236, 177, 0);
}
.justify-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-align-center {
  display: flex;
  align-items: center;
  flex: wrap;
  flex-wrap: wrap;
}
.max-width-40rem {
  max-width: 40rem;
}
.max-height-20rem {
  max-height: 20rem;
}
.margin-inline-15p {
  margin-inline: 10%;
}
.stats-card {
  background-color: #007bff;
  color: white;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.stats-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.stats-card p {
  font-size: 12px;
  margin-bottom: 20px;
}

.stats-card .icon {
  float: right;
  font-size: 30px;
}

.stats-card .stat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.stat-item:nth-child(1) { background-color: #e0e7ff; }
.stat-item:nth-child(2) { background-color: #d4edda; }
.stat-item:nth-child(3) { background-color: #ffe2e6; }
.stat-item:nth-child(4) { background-color: #e2f7ff; }
.stat-item:nth-child(5) { background-color: #fff3cd; }

.stat-item span {
  font-size: 16px;
}

.stat-item .stat-icon {
  font-size: 20px;
  margin-right: 10px;
}
#containerfilter-words {
  display: flexbox;
  height: 100%;
  overflow: auto;
  max-height: 320px;
  min-width: 200px;
  box-sizing: content-box;
}
.file-container {
  background-color: #ffffff2f;
  z-index: 999;
  overflow: hidden;
  min-width: 400px;
  min-height: 500px;
}
#file-list {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px); /* Ancho máximo 200px */
    img{
      height: 180px;
      width: 180px;
    }
    video {
      height: 180px;
      width: 180px;
    }
}
/* Estilo inicial */
.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Clase para mostrar  */
.modal.show {
  display: block;
}

/* Fondo que oscurece la pantalla cuando está abierta */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Clase para mostrar el overlay */
.modal-overlay.show {
  display: block;
}
.search-input {
  min-width: 80px;
  max-width: 160px;
}
@media screen and (max-width: 800px){
  .input-default {
    max-width: 140px;
    box-sizing: border-box;
    resize: vertical;
  }
  .justify-content-center {
    display: flex;
    justify-content: flex-start;
  }
}
/* colors */
.bg-blue {
  background-color: #2196F3 !important;
}
.bg-blue:hover {
  background-color: #115ccc !important;
}
.bg-red {
  background-color: #F44336 !important;
}
.bg-red:hover {
  background-color: #D32F2F !important;
}
.bg-green {
  background-color: #14b319 !important;
}
.bg-green:hover {
  background-color: #00c50a !important;
}
.bg-yellow {
  background-color: #FFEB3B !important;
}
.bg-yellow:hover {
  background-color: #F9A825 !important;
}
.bg-transparent {
  background-color: transparent !important;
}
.opacity-50 {
  opacity: 0.5 !important;
}
/* bordercolors */
.border-blue {
  border: solid 2px, #2196F3 !important;
}
.border-blue:hover {
  border: solid 2px, #115ccc !important;
  background-color: #115ccc90;
}
.border-red {
  border: solid 2px, #F44336 !important;
}
.border-red:hover {
  border: solid 2px, #D32F2F !important;
  background-color: #d32f2f95;
}
.border-green {
  border: solid 2px, #14b319 !important;
}
.border-green:hover {
  border: solid 2px, #00c50a !important;
}
.border-yellow {
  border: solid 2px, #FFEB3B !important;
}
.border-yellow:hover {
  border: solid 2px, #F9A825 !important;
}
