.grid-autofit-28rem {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
}
.grid-autofit-10rem-left {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 10rem));
}
.grid-1fr-1fr {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 1fr);
  gap: 5px;
}
.grid-align-center {
  display: grid;
  align-items: center;
}
.grid-1fr-1fr-align-center {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, auto);
  gap: 5px;
  align-items: center;
}
.dynamic-table {
  width: 100% !important;
  table {
    width: 100% !important;
    overflow-y: auto;
    height: 100px !important;
  }
  thead {
    overflow-y: auto;
    height: 100px !important;
    background-color: rgb(46, 46, 46);
  }
}
