body {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 10;
    padding: 10;
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    min-width: 300px;
}

input[type="button"] {
    background-color: #4CAF50;
    /* color de fondo */
    border: none;
    /* color del texto */
    /* padding alrededor del texto */
    text-align: center;
    /* alinear el texto al centro */
    text-decoration: none;
    /* quitar el subrayado */
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 12px 20px;
    /* cambiar el cursor a un puntero cuando se pasa por encima */
    border-radius: 4px;
    /* bordes redondeados */
}

input[type="button"]:hover {
    background-color: #45a049;
    /* cambiar el color de fondo */
}


/* Estilo para los botones cuando se presionan */

input[type="button"]:active {
    background-color: #3e8e41;
    /* cambiar el color de fondo */
    box-shadow: 0 5px #666;
    /* añadir una sombra */
    transform: translateY(4px);
    /* mover el botón ligeramente hacia abajo */
}

input[type="text"] {
    /* ocupar todo el ancho disponible */
    padding: 12px 20px;
    /* padding alrededor del texto */
    margin: 8px 0;
    /* margen arriba y abajo */
    box-sizing: border-box;
    /* el padding y el borde se incluyen en el ancho total */
    border: 2px solid #ccc;
    /* borde alrededor del campo de entrada */
    border-radius: 4px;
    /* bordes redondeados */
}

h1 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    /* Estilo de los títulos de nivel 1 */
}

a {
    color: #58a6ff;
    /* Estilo de los enlaces */
}

.head {
    margin-bottom: 15px;
    /* Estilo de la cabecera */
}

.subTitle {
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
    /* Estilo de los subtítulos */
}

.usernamelink {
    color: #146fd8;
    text-decoration: none;
    /* Estilo de los enlaces de los nombres de usuario */
}

#roomUserText,
#roomStats {
    width: 100%;
    text-align: right;
    /* Estilo del texto y las estadísticas de la sala */
}

#roomStats b {
    margin-right: 20px;
    /* Estilo de las estadísticas de la sala */
}

.splitchattable,
.splitstatetable {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Estilo de las tablas divididas */
}

.splitstatetable td {
    width: 50%;
    /* Estilo de las celdas de las tablas divididas */
}

.containerheader {
    text-align: center;
    /* Estilo del encabezado del contenedor */
}

.chatcontainer,
.giftcontainer,
.eventcontainer {
    overflow-y: hidden;
    word-wrap: break-word;
    /* Estilo de los contenedores de chat, regalos y eventos */
}

.eventcontainer {
    height: calc(100vh - 90px);
    /* Estilo del contenedor de eventos */
}

.chatcontainer {
    min-width: 400px;
    max-width: calc(100vw - 430px);
    max-height: calc(100vh - 240px);
    /* Estilo del contenedor de chat */
}

.giftcontainer {
    min-width: 50px;
    max-height: calc(100vh - 240px);
    /* Estilo del contenedor de regalos */
}

@media (max-aspect-ratio: 1/1) {
    .splitchattable {
        flex-direction: column;
    }
    .chatcontainer,
    .giftcontainer {
        float: left;
        width: 100%;
    }
    #roomStats {
        text-align: left;
    }
    .chatcontainer {
        padding-right: 20;
    }
    .giftcontainer {
        padding-left: 20;
    }
}

@media (orientation: portrait) {
    .splitchattable {
        flex-direction: column;
    }
    .chatcontainer,
    .giftcontainer {
        min-width: 50px;
        max-width: 1000px;
        max-height: 400px;
    }
}

.miniprofilepicture {
    height: 30px;
    width: 30px;
}

.gifticon {
    height: 100px;
    width: 100px;
    margin-right: 10px;
}

.username {
    color: blue;
    font-weight: bold;
}

.message {
    color: rgb(147, 5, 163);
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dark-theme body {
    background-color: #333333;
    color: #f5f5f5;
}

body.theme-dark {
    background-color: #000000;
    color: #ffffff;
}

body.theme-light {
    background-color: #f5f5f5;
    color: #333333;
}

.themeButtons button {
    width: 100px;
    height: 25px;
    background-color: #f1f1f1;
    color: #020202;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(114, 114, 114, 0);
    cursor: pointer;
}

.themeButtons button:hover {
    background-color: #1356a3;
}

body.overlay {
    background-color: #00ff00;
    color: #ffffff;
}

.overlay .splitchattable,
.overlay .giftcontainer,
.overlay .eventcontainer {
    opacity: 1;
}

.overlay .chatcontainer,
.overlay .giftcontainer {
    opacity: 1;
}

.overlay::-webkit-scrollbar {
    width: 10px;
    background-color: #00ff00;
}

.overlay::-webkit-scrollbar-thumb {
    background-color: green;
    color: #f5f5f5;
}
#soundList li {
    list-style-type: japanese-informal; /* Esto eliminará el marcador de lista */
    padding-right: 20px; /* Esto agregará una sangría de 20px a todo el bloque de texto */
    margin: 30px;

}

.deleteButton {
    color: white;
    background-color: red;
    width: 30px; /* Esto establecerá el ancho del botón en 50px */
    height: 30px;
}
#voiceSelectContainer {
    color: rgb(36, 23, 23);
}
audio {
    width: 300px;
    height: 65px;
    outline: none;
    vertical-align: middle; /* Alineación vertical en el centro */
}

audio::-webkit-media-controls-play-button {
    background-color: transparent;
}
audio::-webkit-media-controls-panel {
    background-color: #ececec;
    color: rgb(36, 23, 23);
}
#overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    pointer-events: none;
    display: none; /* Añade esta línea para ocultar el overlay por defecto */
}