body {
    overflow-x: hidden;
    overflow-y: hidden;
}


#stateText {
    font-size: 24px; /* Tamaño de fuente deseado */
    /* Puedes agregar más estilos según sea necesario */
}

/* Estilos para el enlace de perfil */
.user-profile-link {
    /* Agrega estilos según sea necesario */
}
.gift-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 5px;
    overflow: hidden;   
}

.gift-box {
    margin: 10px;
    text-align: center;
}

.gift-box img {
    max-width: 60px; /* Ajusta el tamaño según sea necesario */
}
@media (orientation: portrait) {
    body {
        background-color: black;
    }
    .splitchattable {
        flex-direction: row;
        min-width: 400px;
        gap: 1;
        max-height: 800px;
        max-width: 800px
    }
    .chatcontainer {
        min-width: 400px;
        padding-right: 60px;
        max-height: 800px;
        max-width: 800px
    }
    .giftcontainer {
        min-width: 50px;
        max-width: 1000px;
        max-height: 400px;
    }
}

.miniprofilepicture,
.gifticon {
    border: 5px solid #f09e0500;
    box-shadow: 0 0 20px rgba(166, 5, 240, 0.7);
    animation: pulse 2s infinite; /* Adjust the animation duration as needed */
    max-width: 50px; /* Increase the max-width to make the images larger */
    height: auto; /* Ensure responsive images */
}
.thumbnail-img {
    width: 20px; /* Ajustar el tamaño de acuerdo a tus necesidades */
    height: 20px; /* Ajustar el tamaño de acuerdo a tus necesidades */
}

.username {
    color: blue;
    font-weight: bold;
}

.message {
    color: rgb(147, 5, 163);
    font-weight: bold;
}

#overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    pointer-events: none;
    display: none;
    /* Añade esta línea para ocultar el overlay por defecto */
}

.event-div {
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
}

.profile-picture {
    width: 40%;
    height: 40%;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    /* Añade más estilos aquí */
}

.event-div .profile-picture {
    width: 40%;
    height: 40%;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    /* Añade más estilos aquí */
}

.event-div .gift-image {
    width: 40%;
    height: 40%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    /* Añade más estilos aquí */
}

.event-div .event-text {
    width: 10%;
    height: 10%;
    font-size: 2em;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    flex-wrap: wrap;
    /* Añade más estilos aquí */
}

.event-div .gift-name {
    font-weight: bold;
    color: red;
    width: 40%;
    height: 40%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    /* Añade más estilos aquí */
}

.gift-image {
    border-radius: 50%;
    width: 10%;
    height: 10%;
    max-width: 500px;
    max-height: 500px;
    /* Añade más estilos aquí */
}

@keyframes marquee {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    /* Entrada */
    10% {
        transform: translateX(-10%);
        opacity: 1;
    }
    /* Entrada */
    90% {
        transform: translateX(-90%);
        opacity: 1;
    }
    /* Salida */
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
    /* Salida */
}

.marquee {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.marquee span {
    display: inline-block;
    padding-left: 500px;
    animation: marquee 18s linear forwards;
    /* Duración reducida a 10s y eliminado infinite */
}

.profile-animation {
    animation: profile-animation 12s linear forwards;
}

.text-animation {
    animation: text-animation 12s linear forwards;
}

.gift-animation {
    animation: gift-animation 18s linear forwards;
}

@keyframes profile-animation {
    0% {
        transform: translateX(100%);
        opacity: 1;
    }
    /* Entrada */
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    /* Fin de la entrada */
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    /* Inicio de la salida */
    100% {
        transform: translateX(-100%);
        opacity: 0;
        display: none;
    }
    /* Salida */
}

@keyframes text-animation {
    0% {
        transform: translateX(10%);
        opacity: 1;
    }
    /* Entrada */
    10% {
        transform: translateX(-10%);
        opacity: 1;
    }
    /* Fin de la entrada */
    90% {
        transform: translateX(-90%);
        opacity: 1;
    }
    /* Inicio de la salida */
    100% {
        transform: translateX(-100%);
        opacity: 0;
        display: none;
    }
    /* Salida */
}

@keyframes gift-animation {
    0% {
        transform: translateX(300%);
        opacity: 1;
    }
    /* Entrada */
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    /* Fin de la entrada */
    90% {
        transform: translateX(0);
        opacity: 1;
    }
    /* Inicio de la salida */
    100% {
        transform: translateX(-300%);
        opacity: 0;
        display: none;
    }
    /* Salida */
}