#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  user-select: none;
}

#app .title-bar-controls button[aria-label="Minimize"] {
  background-image: url(Minimize.svg);
}

#app .title-bar-controls button[aria-label="Maximize"] {
  background-image: url(Maximize.svg);
}

#app .title-bar-controls button[aria-label="Close"] {
  background-image: url(Close.svg);
}

#prompt {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
}

#prompt form {
  background: rgba(255,255,255,0.3);
  padding: 3em;
  height: 320px;
  border-radius: 20px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

#prompt form p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 2.4em;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

#prompt form a {
  text-decoration: none;
  color: #ddd;
  font-size: 2em;
}

#prompt form a:hover {
  text-shadow: 2px 2px 6px #00000040;
}

#prompt form a:active {
  text-shadow: none;
}

/* Chrome, Safari, Edge, Opera */
#prompt form input::-webkit-outer-spin-button,
#prompt form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#prompt form input {
  background: transparent;
  width: 200px;
  height: auto;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

#prompt form input:hover {
  background: rgba(255,255,255,0.1);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

#prompt form input[type="email"]:focus,
#prompt form input[type="password"]:focus {
  background: rgba(255,255,255,0.1);
  box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

#prompt form input[type="button"] {
  margin-top: 10px;
  width: 150px;
  font-size: 1rem;
}

#prompt form input[type="button"]:hover {
  cursor: pointer;
}

#prompt form input[type="button"]:active {
  background: rgba(255,255,255,0.2);
}

#prompt form:hover {
  margin: 4px;
}

#prompt ::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

#prompt .drop {
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255,255,255)
  border-top: 1px solid $white;
  box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
  position: absolute;
  transition: all 0.2s ease;
    
#prompt-1 {
  height: 80px;
  width: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}

#prompt-2 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}

#prompt-3 {
  height: 100px;
  width: 100px;
  bottom: 120px;
  right: -50px;
  z-index: -1;
}

#prompt-4 {
  height: 120px;
  width: 120px;
  top: -60px;
  right: -60px;
}

#prompt-5 {
  height: 60px;
  width: 60px;
  bottom: 100px;
  left: -50px;
  z-index: -1;
}
}

#prompt a:focus,
#prompt input:focus,
#prompt select:focus,
#prompt textarea:focus,
#prompt button:focus {
    outline: none;
}
  