.tab5-action{
    position: fixed;
    left: 50%;
    top: 50%;
    /* width: 60%; */
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 10px;
    .ElementITEM{
        padding: 20px;

        max-height: 25rem;
        overflow-y: auto;
        .inputGroup{
            color: blue;
            position: relative;
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            input[type="checkbox"]{
                width: 20px;
                height: 20px;
            }
        
            .config{
                border: 2px solid black;
                border-radius: 15px;
                min-width: 280px;
                margin-inline: 10px;
                padding: 10px;
                color: black;
                display: none;
            }
            .checkbox-group{
                display: flex;
                flex-wrap: wrap;
                width: 200px;
                gap: 10px;
            }
            input[type="checkbox"]:checked ~ .config{
                display: grid;
                cursor: auto;
            }
        }
    }
}