.tab5-action{
    position: fixed;
    left: 50%;
    top: 50%;
    /* width: 60%; */
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    .ElementITEM{
        max-height: 20rem;
        overflow-y: auto;
        h1 {
            display: flex;
            font-size: 1.5rem;
            justify-content: center;
        }
        .inputGroup{
            color: rgb(38, 0, 255);
            position: relative;
            padding: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            input {
                border: 2px solid black;
            }
            input[type="checkbox"]{
                width: 20px;
                height: 20px;
            }
            .inputSelectSources {
                max-width: 300px;
            }
            option {
                max-width: 300px;
            }
            .config{
                border: 2px solid black;
                border-radius: 15px;
                min-width: 320px;
                margin-inline: 10px;
                padding: 10px;
                color: black;
                display: none;
                transition: all 3s ease-in-out;
            }
            .checkbox-group{
                display: flex;
                flex-wrap: wrap;
                width: 200px;
                gap: 10px;
            }
            input[type="checkbox"]:checked ~ .config{
                display: grid;
                cursor: auto;
                transition: all 3s ease-in-out;
                /* animation: config-show 2s ease-in-out; */
            }
        }
        .inputGroup.Eventoscheck {
            color: red;
            font-weight: 800;
            font-style: oblique;
        }
    }

}